body {
    background-image: url(../images/LoginBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Assistant, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    align-items: center; /* Added */
    justify-content: center; /* Added */
}

h1 {
    font-size: 2.5em;
    margin-top: 50px; /* Added */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: white;
}

table th {
    font-weight: bold;
    color: white;
}

a {
    color: #136a8a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}
