.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #136a8a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
    display: none;
}

.popup-content {
    background-color: #136a8a;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.popup p {
    margin-bottom: 20px;
    color: #fff;
}

.popup button {
    background-color: #267871;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.popup.show {
    display: flex;
}
